h1 {color: #45a29e;
    font-family: Georgia, times, "times new roman";
    font-size: 3.583em;
    float: none;
    margin: 25px;
    text-decoration: underline;
    text-decoration-color: aliceblue;}

h2 {color:#66fcf1;
    font-family: Georgia, times, "times new roman";
    font-size: 2.488em;
    float: none;
    margin: 25px;
    text-decoration: underline;
    text-decoration-color: aliceblue;
    text-decoration-line: underline;}

h3 {text-align: center;}

.profile {border-radius: 100%;
          float: left;
          padding: 10px;}

.nav {font-family: Georgia, times, "times new roman";
     font-size: 1.4em;
     width: 100%;
     padding: 0px;
     margin: 0px;
     list-style-type: none;
     overflow: hidden;
     text-align: center;
     background-color: #0b0c10;
     color: aliceblue;
     position: fixed;
     z-index: 1;
     top: 0;}

li {display: inline-block;}

li a {display: block;
      padding: 10px;
      background-color: #0b0c10;
      text-decoration: none;
      color: #c5c6c7;}

li a:hover {background-color:#45a29e;}

li a:visited {color: #c5c6c7;} 

p {background-color: #c5c6c7;
   box-shadow: 5px 5px #4a5059;
   overflow: auto;
   padding: 20px;
   font-size: 1.4em;
   background-size: 100%;
   text-indent: 50px;}

* {box-sizing: border-box;}

.column {float: left;
         width: 33.33%;
         padding: 5px;
         position: relative;}

.column:hover .overlay {
        height: 100%;}

.row {content: "";
      clear: both;
      display: table;
      background-color: #0b0c10;}

body {background-color: #1f2833;
      margin: 0px;}

.picu {padding: 10px;}

.overlay {position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: aliceblue;
          opacity: .8;
          overflow: hidden;
          height: 0;
          transition: .5s ease;}

.text {white-space: nowrap; 
      color: black;
      font-size: 20px;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;}

footer {background-color: #0b0c10;
        text-align: center;
        font-family: Georgia, times, "times new roman";
        color: aliceblue;
        font-size: 1.4em;
        padding: 0px;
        margin: 0px;     
        list-style-type: none;
        overflow: hidden;}

.back {text-align: center;
       margin: 0px;
       padding: 0px;
       color: aliceblue;
       background-color: #0b0c10;}

.about {margin-top: 125px;}

.container {margin-left: 15%;
            margin-right: 15%;}